utils/xml/schemas/projects.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="project" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="uid"/>
              <xs:element type="xs:string" name="titre"/>
              <xs:element type="xs:integer" name="note"/>
              <xs:element name="motscles">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="motcle" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="versions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="version">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="commentaire"/>
                          <xs:element type="xs:string" name="contenu"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="groupes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="groupe">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:integer" name="uid" minOccurs="0"/>
                          <xs:element name="membres" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="membre">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:integer" name="uid"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="projects" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="project">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:integer" name="uid"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:integer" name="profId"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>