utils/xml/schemas/projects.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="project" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="xs:byte" name="uid"/>
            <xs:element type="xs:string" name="titre"/>
            <xs:element type="xs:byte" name="note"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element name="motscles">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="xs:string" name="motcle" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="comments">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="comment" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="prof"/>
                        <xs:element type="xs:string" name="contenu"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="versions">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="version" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:byte" name="uid"/>
                        <xs:element type="xs:byte" name="numero"/>
                        <xs:element name="comments">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="comment" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="prof"/>
                                    <xs:element type="xs:string" name="contenu"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="contenu"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="membres">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="xs:byte" name="uid" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element type="xs:byte" name="profId"/>
            <xs:element type="xs:string" name="status"/>
            <xs:element type="xs:string" name="type"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
